@import url("https://use.typekit.net/hed7siw.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=block");

::selection {
  background: #947ce8;
}
/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
